<!DOCTYPE html>
  <head>
    <meta charset="utf-8">

    <title>Photo Reactions</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

    <style>

      body {
        font-family: 'Muli', sans-serif;
        color:#17649A;
      }

      h1 {
        text-align:center;
      }

      div {
        box-sizing: border-box;
      }

      .photo-container {
        width:95vw;
        height:80vh;
        margin:0 auto 20px auto;
      }

      .photo {
        width:49%;
        height:100%;
        display:inline-block;
        border:solid 1px black;
        border-color:#17649A;
        background-color:#EEEEEE;
        position:relative;
        background-size: contain;
        background-position:center center;
        background-repeat: no-repeat;
      }

      .flickr-photo {
        width:100%;
        height:100%;
        background-size: contain;
        background-position:center center;
        background-repeat: no-repeat;
        position:absolute;
        opacity:0;
        top:0;
        transform:opacity 1s;
      }

    </style>
  </head>

  <body class="photoreactions" ontouchstart="">

    <h1>Photo Reactions</h1>

    <div class="photo-container">
      <div class="photo sfmoma-photo">

      </div>
      <div class="photo social-photo">

      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <script>
      var animation, activePhotos, currentIndex;

      var flickrResponse = {{{ output }}};

    function generateImage(image, id) {
      $('.social-photo').append('<div id="flickrPhoto_'+id+'" class="flickr-photo" style="background-image:url('+image+');"></div>');
    }

    function generateImages(flickrResponse) {
      flickrResponse.photos.forEach(function(image, i) {
        generateImage(image, i);
      });

      activePhotos = flickrResponse.photos;
    }

    function start() {
      if (!animation) {
        currentIndex = 0;
        animation = setInterval(function() {
          last = currentIndex;

          currentIndex++;

          if (currentIndex > activePhotos.length) {
            currentIndex = 0;
          }

          if ($('#flickrPhoto_' + last)[0]) {
            $('#flickrPhoto_' + last).css({opacity:0});
          }
          if ($('#flickrPhoto_' + currentIndex)[0]) {
            $('#flickrPhoto_' + currentIndex).css({opacity:1});
          }

        }, 500);
      }
    }

    function stop() {
      clearInterval(animation);
      animation = null;
    }

    generateImages(flickrResponse);
    //console.log(, flickrResponse.sfmoma_image_url);
    $('.sfmoma-photo').css({'background-image':'url(\''+flickrResponse.sfmoma_image_url+'\')'});
    start();

    </script>

  </body>
</html>
