<html>
<head>
	<style>
		a {
			font-size: 32px;
			color:black;
		}
	</style>
</head>
<body>
<a href="/artworks/22031">Mark Rothko - No. 14, 1960</a><br />
<a href="/artworks/4176">Andy Warhol - National Velvet</a><br />
<a href="/artworks/143230">Jim Campbell - Exploded Views</a><br />
<a href="/artworks/187">Jeff Koons - Michael Jackson and Bubbles</a><br />
<a href="/artworks/129612">Felix Gonzalez-Torres - Untitled (Golden)</a>
</body>
</html>